* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

:root {
    --primary-skyblue: #24a1e1;
    --primary-blue: #0e71b4;
    --black: #1f1f1f;
    --text-black: #71767a;
}

body {
    font-size: 12px !important;
    overflow-x: hidden;
}

ul {
    margin-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* .notification_bar {
    position: relative;
    background-color: var(--black);
}

.notification_bar .close_btn {
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification_bar .close_btn img {
    height: 13px;
}

.notification_bar .text {
    color: white;
    margin-bottom: 3px;
    font-weight: lighter;
    font-size: 1.2em;
}

.menu_bar {
    background-color: white;
    height: 140px;
}
.menu_bar .logo_cover{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.menu_bar .nav_bar ul a {
    color: var(--black);
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
    position: relative;
    padding: 0.6em 0;
}

.menu_bar .nav_bar ul a.active:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3.3em;
    background-color: var(--black);
    height: 1px;
    max-width: 90%;
}

.menu_bar .container {
    height: 100%;
    position: relative;
}

#language {
    border: none;
    font-size: 1em;
    font-weight: bold;
}

.logo_cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.hero_slider {
    background-image: url("../images/slider_image.png");
    position: relative;
    min-height: 660px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    width: 100vw;
}

.hero_slider .hero_heading {
    max-width: 700px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    padding: 3em;
    color: white;
}

.hero_slider .hero_heading h1 {
    font-size: 3em;
    text-transform: capitalize;
    font-weight: bold;
}

.hero_slider .hero_heading p {
    font-size: 1.1rem;
    max-width: 72%;
    font-weight: normal;


    /* change it for desktop view */
    font-style: italic;
}

.button {
    background: linear-gradient(45deg, var(--primary-skyblue), var(--primary-blue));
    border: none;
    padding: 0.7em 1.5em;
    color: white;
    border-radius: 3em;
    margin: 0.2em 0;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.treat_in h1.heading {
    font-size: 2.7em;
    font-weight: bold;
}

h1.heading img {
    width: 28px;
    aspect-ratio: 1;
}

.treat_in {
    padding: 100px 0;
}

.treat_in p {
    color: var(--text-black);
    font-size: 1.1em;
}

.treat_in .treat_in_image {
    max-width: 26em;
    width: 100%;
    aspect-ratio: 1;
}

.reviewed_products {
    background-color: #f4fcff;
    padding: 120px 0;
}

.reviewed_products h1.heading {
    text-transform: capitalize;
    font-size: 2.8em;
    text-align: center;
    font-weight: bold;
}

.reviewed_products .product_card .product_image {
    background-color: white;
}

.reviewed_products .r_products_slider .reviews .icon {
    color: #eea838;
}

.choose_it {
    padding: 120px 0;
}

.choose_it h1.heading {
    font-size: 2.7em;
    text-transform: capitalize;
    font-weight: bold;
}

.choose_it .choose_product_image .arrow_image img {
    position: absolute;
    top: 0;
    right: 0;
}

.choose_it .choose_product_image .arrow_image span:first-child {
    height: 0px;
    width: 10px;
    border: 2px dashed #24a1e1;
}

.choose_it .choose_product_image .choose_image {
    max-width: 50em;
    width: 100%;
}

.choose_it .color_heading {
    color: #5691c2;
    font-weight: normal;
    text-transform: capitalize;
}

.choose_it p,
.ingredients p {
    color: var(--text-black);
    font-size: 1.1em;
}




.ingredients {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url("../images/ingredients.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    position: relative;
    padding: 70px 0;
}

.ingredients .products {
    position: absolute;
    bottom: -10%;
    display: none;
}

.ingredients::before {
    background-image: url("../images/Abstract.png");
    background-repeat: no-repeat;
    width: 400px;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 10em;
    display: none;
}

.ingredients h1.heading,
.sw_program h1.heading {
    font-size: 3em;
    text-transform: capitalize;
    font-weight: bold;
}

.sw_program {
    padding: 140px 0;
}

.sw_program p {
    color: var(--text-black);
    font-size: 1.2em;
}

.sw_program .swp_image {
    width: 100%;
    max-width: 40em;
}

.time_taken h1.heading {
    font-size: 2.4em;
}

.time_taken p {
    font-size: 1.1em;
}

.button_white {
    background-color: white;
    border: none;
    padding: 0.7em 1.5em;
    color: var(--primary-blue);
    border-radius: 3em;
    margin: 0.2em 0;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.faqs {
    padding: 100px 0;
}

.faqs h1.heading {
    font-weight: bold;
    font-size: 3.1em;
    text-transform: capitalize;
}

.accordion-button,
.accordion-button:not(.collapsed) {
    color: var(--primary-blue);
    font-size: 0.66em;
    font-weight: bold;
    background-color: transparent !important;
    box-sizing: none !important;
    box-shadow: none !important;
}

.accordion-body p {
    font-size: 1.1em;
    color: var(--text-black);
}

.accordion-item {
    border: none !important;
}




.accordion-button.collapsed::after {
    background-image: url("../images/accordion_plus.png") !important;
}

.accordion-button::after {
    background-image: url("../images/accordion_minus.png") !important;
}


.tp_benefits {
    background-image: url("../images/benefits.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 140px 0;
}

.tp_benefits h1.heading {
    font-size: 2.3em;
    text-transform: capitalize;
    font-weight: bold;
}

.tp_benefits .icon_box {
    width: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cff1fd;
}

.tp_benefits .icon_text h5 {
    font-size: 1.1em;
}

.tp_benefits .icon_text:first-child .icon_box {
    background-color: #cff1fd;
}

.tp_benefits .icon_text:nth-child(2) .icon_box {
    background-color: #fdffe9;
}

.tp_benefits .icon_text:nth-child(3) .icon_box {
    background-color: #ffeef7;
}

.tp_benefits .icon_text:nth-child(4) .icon_box {
    background-color: #fecee8;
}




.testimonials_quote_outer {
    background: linear-gradient(180deg, white, #eaf7ff);
    position: relative;
}

.testimonials_outer {
    margin: 100px 0;
}

.testimonials_outer .item {
    padding: 20px 0;
}

.testimonials_outer .testimonial_card {
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 50px 0 #fafafa;
    position: relative;
}

.testimonials_outer .testimonial_card::before {
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    right: 10%;
    background-image: url("../images/quota.svg");
    height: 50px;
    width: 80px;
    content: "";
}

.testimonials_outer .testimonial_card p {
    font-size: 1.1em;
}

.testimonials_outer h1 {
    font-size: 2.3em;
}

.client_image {
    border-radius: 50%;
    width: 80px;
    aspect-ratio: 1;
    overflow: hidden;
}

.client_image img {
    height: 100%;
    width: 100%;
}

.testimonials_outer .owl-nav button.owl-prev,
.testimonials_outer .owl-nav button.owl-next {
    width: 40px !important;
    aspect-ratio: 1;
}

.testimonials_outer .owl-nav button.owl-prev span {
    display: block !important;
    color: transparent !important;
    background-image: url("../images/L-Slider.svg");
    background-size: cover;
    background-position: center;
    width: 100% !important;
    height: 100% !important;
}

.testimonials_outer .owl-nav button.owl-next span {
    display: block !important;
    color: transparent !important;
    background-image: url("../images/R-Slider.svg");
    background-size: cover;
    background-position: center;
    width: 100% !important;
    height: 100% !important;
}

.testimonials_outer .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #FFF;
    text-decoration: none;
}

.testimonials_quote_outer>img {
    position: absolute;
    bottom: 0;
    right: 0;
}
.quote_form_cover{
    max-width: 550px;
}
.testimonials_quote_outer .get_quote {
    margin-top: 300px;
}

.testimonials_quote_outer .get_quote h1.heading {
    color: #2d3235;
    text-transform: capitalize;
    font-size: 3em;
    font-weight: bold;
}

.testimonials_quote_outer .get_quote p.heading_tagline {
    color: var(--text-black);
    font-size: 1.3em;
}

.quote_form_cover {
    margin-top: 2em;
    background-color: white;
    padding: 40px !important;
}

.quote_form_cover .gradient_heading {
    background: -webkit-linear-gradient(0deg, var(--primary-skyblue), var(--primary-blue));
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quote_form_cover p {
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--text-black);
    font-weight: normal;
}

.quote_form_cover form textarea {
    width: 100%;
    padding: 1.4em;
    background-color: #f7fcff;
    border: 1px solid #ecf5f7;
    font-size: 1.3em;
}

.quote_form_cover {
    border-radius: 1em;
    box-shadow: 0 0 50px 0 #f4fcff;
}

















/* footer.footer {
    background-color: #1f1f1f;
    color: white;
}

.footer .container {
    padding: 100px 0;
    border-bottom: 1px solid #292a2b;
}

.footer .logo_cover {
    width: 195px;
    height: 37px;
    position: relative;
    transform: translate(0, 0);
    top: 0;
    left: 0;
}

.footer .icon_menu img {
    height: 23px;
}

.footer ul {
    margin-top: 30px;
    padding-left: 0;
}

.footer ul li a,
.footer h4,
.text_footer h6 {
    color: #99a6b0;
} */



















@media screen and (min-width : 1245px) {
    .hero_slider {
        min-height: 760px !important;
    }
}

@media screen and (max-width : 992px) {
    .time_taken {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/time\ taken.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 70px 0;
    }
    .quote_form_cover {
        padding: 20px !important;
    }

    .hero_slider {
        background-image: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.781)), url("../images/Bg\ Img.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        width: 100%;
        aspect-ratio: 1/1;
    }

    .ingredients p {
        color: white;
    }

    .ingredients h1.heading,
    .sw_program h1.heading {
        color: white;
    }
}
@media screen and (min-width : 650px) {
    .menu_bar {
        height: auto !important;
    }
}
@media screen and (min-width : 992px) {
    .time_taken {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/time\ taken.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 70px 0;
    }
    .ingredients {
        background-image: url("../images/ingredients.png");
    }
    .hero_slider .hero_heading {
        color: black;
        position: absolute;
        top: 30%;
        left: 20%;
        max-width: 500px;
    }

    .hero_slider .hero_heading h1 {
        font-size: 3em;
    }

    .ingredients .products,
    .ingredients::before {
        display: block;
        height: 70%;
    }
}

@media screen and (min-width : 1100px) {
    .hero_slider .hero_heading {
        top: 34%;
        left: 20%;
    }

    .hero_slider .hero_heading h1 {
        font-size: 4em !important;
    }
    .ingredients .products,
    .ingredients::before {
        display: block;
        height: 75% !important;
    }
}

@media screen and (min-width : 1245px) {
    .hero_slider {
        min-height: 760px !important;

    }
    .ingredients .products{
        display: block;
        height: 80% !important;
    }
    .ingredients::before {
        display: block;
        height: 50% !important;
    }
    .hero_slider .hero_heading {
        top: 33% !important;
    }
}

@media screen and (min-width : 1300px) {
    body {
        font-size: 14px;
    }

    .ingredients .products,
    .ingredients::before {
        display: block;
        height: 90% !important;
    }
    .hero_slider .hero_heading {
        top: 35% !important;
    }
    .tp_benefits {
        background-position: center;
    }
}

@media screen and (min-width : 1390px) {
    .hero_slider {
        min-height: 860px !important;
    }

    .hero_slider .hero_heading {
        top: 32% !important;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1400px;
    }
}

@media screen and (min-width : 1590px) {
    .hero_slider {
        min-height: 960px !important;
    }
}

@media screen and (min-width : 1600px) {
    body {
        font-size: 16px !important;
    }

    .hero_slider .hero_heading h1 {
        font-size: 4rem !important;
    }

    .hero_slider .hero_heading {
        max-width: 700px;
        top: 20%;
        left: 20%;
    }
}

@media screen and (min-width : 1820px) {
    .hero_slider {
        min-height: 1150px !important;
    }

    .hero_slider .hero_heading {
        top: 35%;
    }
}